body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}

.form-group {
    text-align: center;
    display: flex;
    margin-left: 23vw;
}

#task {
    border: 0;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    width: 40vw;
    background-color: rgb(99, 161, 243);
    margin-right: 0;
    color: white;
    font-size: 16px;
}

#task::placeholder {
    color: white;
    font-size: 16px;
}

.button-submit {
   margin-top: 0;
   margin-bottom: 0;
    height: 43px;
    border: 0;
    border-radius: 0px 20px 20px 0px;
    background-color: darkslategray;
    color: white;
    padding: 8px;
}
#form {
    margin-top: 20vh;
}

#mostrar-fecha {
    margin-top: 10px;
    text-align: center;
    margin-left: 40vw;
    display: flex;
}

.task-input-container{
    /* display: flex; */
    /* text-decoration: line-through; */
    border: 0;
    border-right: none;
    border-radius: 20px 0 0 20px;
    /* padding: 10px; */
    width: 50vw;
    height: 50px;
    background-color: rgb(99, 161, 243);
    margin-right: 0;
    margin-top: 10px;
    color: white;
    font-size: 16px;
}
.task-container{
    position: relative;
     display: inline-block; 
    margin-left: 10.5vw;
}
.btn-input-task{
     position: absolute; 
    top: 0;
    right: 0; 
    border: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: darkslategray;
    cursor: pointer;  
}
.show-checkbox{
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    background-color: darkslategray;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
}
/* .checkbox-finalizada{
    border-radius: 100%;
    background-color: darkslategray;
} */
.div-second-input{
     position: absolute;
     display: inline-block; 
     
     width: 50px;
     height: 50px;
     margin-top: 10px;
     }
     .input-button-delete{
        /* position: relative; */
        
        left: 0;
        top: 0;
        bottom: 0;
        height: 50px;
        width: 50px;
        border: 0;
        border-left: none;
      
       background-color: rgb(99, 161, 243);
}
     
     input:focus{
        outline: 0;
     }
